extends layout

block content
  script(type='text/javascript').
    let api_key = 'madalin';
    let api_secret = 'Madalin_Secret_Key';

    $(function() {
      $('[name=send]').click(() => {
        let to = $('[name=to]').val();
        let text = $('[name=text]').val();

        $.post(
          "/api/message",
          {
            api_key: api_key,
            api_secret: api_secret,
            to: to,
            text: text
          },
          function(data, status){
            console.log(data);
          },
          'json'
        );
      });
    });
  h1= title
  form(name="sms", method="post")
    div
        input(type="number", name="to", class="full" placeholder="Phone number")
    div
        textarea(name="text", class="full" placeholder="New text message", cols="40", rows="5" maxlength="160")
    div
        button(type="button", name="send", class="full").
          SEND